<div class="title-container">
    <h1 class="title">Mixed Letters - {{ currentCategory?.name }}</h1>
  </div>
  
  <div *ngIf="words[currentWordIndex].target">
    <mat-card class="game-card">
      <mat-card-header>
        <!-- display the interpretation in Hebrew (target word) -->
        <mat-card-subtitle>{{ words[currentWordIndex]!.target }}</mat-card-subtitle>
        <mat-card-title>{{ originWord }}</mat-card-title>
  
        <div class="coins-container-right">
          <mat-icon class="coin-icon">attach_money</mat-icon>
          <span class="coin-count">{{ coins }}</span>
        </div>
      </mat-card-header>
  
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Your Guess</mat-label>
          <input
            matInput
            [(ngModel)]="userGuess"
            name="guess"
            placeholder="Enter your guess"
            (ngModelChange)="validateEnglishLetters($event)"
            [pattern]="pattern"
          />
          <mat-error *ngIf="!isValidGuess && userGuess">Please enter only English letters.</mat-error>
        </mat-form-field>
        <div class="button-group">
          <button mat-mini-fab color="primary" [disabled]="!userGuess || !isValidGuess" (click)="checkGuess()">
            <mat-icon aria-label="Check Guess">spellcheck</mat-icon>
          </button>
          <button mat-mini-fab [disabled]="!userGuess || !isValidGuess" (click)="resetForm()">
            <mat-icon aria-label="Reset Form">restore</mat-icon>
          </button>
          <button mat-mini-fab (click)="exitGame()">
            <mat-icon aria-label="Exit Game">exit_to_app</mat-icon>
          </button>
        </div>
      </mat-card-content>

    </mat-card>
    
    <div class="progress-container" *ngIf="words.length > 0">
      <div class="progress-info">
        <span class="current-word-number">{{ currentWordIndex + 1 }}</span>
        <span class="total-words">/ {{ words.length }}</span>
      </div>
      <mat-progress-bar mode="determinate" [value]="progress" class="custom-progress-bar"></mat-progress-bar>
    </div>
  </div>
  