.dialog-content {
  padding: 20px;
  max-width: 700px;
  width: 80% auto;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.dialog-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.category-select-field {
  width: 100%;
  margin-bottom: 20px;
}

.category-details {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}

.dialog-actions {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}