.mat-dialog-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.mat-dialog-title {
  font-size: 1.5em;
}

.mat-dialog-content {
  max-height: 400px;
  overflow-y: auto;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li:hover {
  background-color: #eee;
}
