<div class="dialog-content">
  <h2>Select a Category</h2>
  
  <mat-form-field appearance="fill" class="category-select-field">
    <mat-select placeholder="Choose Category" [(ngModel)]="selectedCategory">
      <mat-option *ngFor="let category of categories" [value]="category">{{ category.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <div *ngIf="selectedCategory" class="category-details">
    <h2>{{ selectedCategory.words.length }} words</h2>
    <p>Last update: {{ selectedCategory.lastUpdateDate | date }}</p>
  </div>
  
  <div class="dialog-actions">
    <button mat-flat-button color="primary" (click)="letsPlay()" [disabled]="!selectedCategory">Let's Play</button>
  </div>
</div>
