/* sorted-words-game.component.css */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 20px;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.game-title {
  font-size: 1.5rem;
  margin: 10px 0;
}

.question-section {
  margin: 20px 0;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.progress-bar {
  margin-top: 20px;
  width: 100%;
}

.progress-container {
  margin: 20px auto;
  width: 80%;
  text-align: center;
}

.custom-progress-bar {
  height: 20px;
  border-radius: 10px;
  background-color: #f3f3f3;
}

.coins-container-right {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pushes the container to the right */
}

.coin-icon {
  font-size: 24px; /* Icon size */
  color: gold; /* Coin color */
  margin-right: 5px; /* Space between icon and count */
}