<div class="game-container">
  <h1>Little Linguist</h1>
  <div class="game-title">Word sorter - {{ currentCategory?.name }}</div>
  <div class="coins-container-right">
    <mat-icon class="coin-icon">attach_money</mat-icon>
    <span class="coin-count">{{ coins }}</span>
  </div>
  <div class="question-section">
    <p>
      Is word <strong>"{{ currentWord?.word }}"</strong> part of the
      <strong>{{ currentCategory?.name }}</strong> category?
    </p>
    <div class="button-group">
      <button mat-raised-button color="primary" (click)="checkAnswer(true)">
        Yes
      </button>
      <button mat-raised-button color="warn" (click)="checkAnswer(false)">
        No
      </button>
    </div>
  </div>
  <div class="progress-container" *ngIf="words.length > 0">
    <div class="progress-info">
      <span class="current-word-number">{{ currentWordIndex + 1 }}</span>
      <span class="total-words">/ {{ words.length }}</span>
    </div>
    <mat-progress-bar
      mode="determinate"
      [value]="progress"
      class="custom-progress-bar"
    ></mat-progress-bar>
  </div>
  <button mat-mini-fab (click)="exitGame()">
    <mat-icon aria-label="Exit Game">exit_to_app</mat-icon>
  </button>
</div>
