<div class="game-container">
  <h1>Little Linguist</h1>
  <div class="game-title">Word sorter - {{ selectedCategory?.name }}</div>
  <div class="coins-container-right">
    <mat-icon class="coin-icon">attach_money</mat-icon>
    <span class="coin-count">{{ coins }}</span>
  </div>
  <div class="question-section">
    <p>
      Is word <strong>"{{ currentWord?.origin }}"</strong> part of the
      <strong>{{ selectedCategory?.name }}</strong> category?
    </p>
    <div class="button-group">
      <button mat-raised-button color="primary" (click)="checkAnswer(true)">
        Yes
      </button>
      <button mat-raised-button color="warn" (click)="checkAnswer(false)">
        No
      </button>
    </div>
  </div>
  <div class="progress-container" *ngIf="shuffledWords.length > 0">
    <div class="progress-info">
      <span class="current-word-number">{{ currentWordIndex + 1 }}</span>
      <span class="total-words">/ {{ shuffledWords.length }}</span>
    </div>
    <mat-progress-bar mode="determinate" [value]="progress" class="custom-progress-bar"></mat-progress-bar>
  </div>
  <div class="exit-button-container">
    <button mat-mini-fab (click)="exitGame()">
      <mat-icon aria-label="Exit Game">exit_to_app</mat-icon>
    </button>
  </div>
</div>
