<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <ul style="list-style-type: none">
        <li *ngFor="let g of allGames">
          <div class="game-card" (click)="openDialog(g)">
            <div class="game-card-header">
              <h3>{{ g.gameName }}</h3>
            </div>
            <p class="game-description">{{ g.gameDescription }}</p>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
