<div class="dashboard-container">  
    <div class="learning-section">
      <h2>Your learning:</h2>
      <div class="metrics-grid">
        <div class="metric-item">
          <span>{{ gamesPlayed }}</span>
          <p>Games</p>
        </div>
        <div class="metric-item">
          <span>{{ points }}</span>
          <p>Points</p>
        </div>
        <div class="metric-item">
          <span>{{ categoriesLearned }}</span>
          <p>Categories learnt</p>
        </div>
        <div class="metric-item">
          <span>{{ highestScoreGame }}</span>
          <p>Highest score game</p>
        </div>
        <div class="metric-item">
          <span>{{ highestScoreGame }}</span>
          <p>The category in which they played the most.</p>
        </div>
        <div class="metric-item">
          <span>{{ categoriesNotLearned }}</span>
          <p> Categories not learnt</p>
        </div>

      
        <div class="metric-item">
          <span>{{ perfectGamesPercentage | number: '1.0-0' }}%</span>
          <p>Perfect games</p>
        </div>
        <div class="metric-item">
          <span>{{ daysStrike }}</span>
          <p>Days strike</p>
        </div>
        <div class="metric-item">
          <div class="metric-content">
            <span>{{ gamesPlayedThisMonth }}</span>
            <p>Games this month</p>
          </div>
        </div>
        <div class="metric-item">
          <span>{{ gameTarget - gamesPlayedThisMonth }}</span>
          <p>More to complete challenge</p>
        </div>
      </div>
    </div>
  </div>
  